#entries 
{
float:left;
margin-right: auto;
height:800px;
width:200px;
overflow-y: scroll;
}
.content {
	height:800px;
	margin-left:205px;
	border:1px solid grey;
}
.entry {
	border:1px solid grey;
}
